export(G.matrix)
export(popgen)
export(raw.data)
importFrom(Matrix,nearPD)
importFrom(matrixcalc,is.positive.definite)
importFrom(stringr,str_count)
importFrom(stats, dist)
importFrom(stats, na.omit)
importFrom(stats, quantile)
importFrom(stats, var)